<mat-toolbar color='primary'>
  <span>Github user search</span>
</mat-toolbar>

<main>
  <form [formGroup]='form'>

    <mat-form-field appearance='fill'>
      <mat-label>Search by name...</mat-label>
      <input matInput type='text' formControlName='search'>
      <span matSuffix *ngIf='loading$ | async'>
        <mat-spinner [diameter]='20'></mat-spinner>
      </span>
    </mat-form-field>

  </form>

  <app-table-list
    [responseItems]='(list$ | async)!'
    [responseTotal]='(total$ | async)!'
    (paginate)='paginateHandler($event)'></app-table-list>

  <div class='loading' *ngIf='loading$ | async'>
    <mat-spinner></mat-spinner>
  </div>

</main>
